-e git+https://github.com/paretje/notspam.git#egg=notspam
yt-dlp
vim-vint
pip-tools
pyPEG2
readability-lxml
-e git+https://github.com/paretje/komodo-python3-dbgp.git#egg=komodo-python3-dbgp
neovim
msgpack<1.0.0
imapclient
-e git+https://github.com/afewmail/afew.git#egg=afew
ueberzug
poetry
stig
tldextract
keyring-pass
appdirs
yt-dlp
