[submodule ".vim/bundle/orgmode"]
	path = .vim/bundle/orgmode
	url = https://github.com/paretje/vim-orgmode.git
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/haskell-syntax"]
	path = .vim/bundle/haskell-syntax
	url = https://github.com/vim-scripts/haskell.vim.git
