/.ICEauthority
/.Rhistory
/.Xauthority
/.cabal
/.cache
/.config/Thunar/renamerrc
/.config/dconf
/.config/enchant
/.config/unisister
/.config/xfce4/panel
/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/pointers.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-mixer.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
/.dbus
/.gem
/.ghc
/.gksu.lock
/.gnome2/keyrings
/.local/share/keyrings
/.gnupg/private-keys-v1.d
/.gnupg/pubring.gpg
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/sshcontrol
/.gnupg/trustdb.gpg
/.gpg-agent-info
/.gstreamer-0.10
/.icedove
/.lesshst
/.local/share/Trash
/.local/share/mc
/.local/share/recently-used.xbel*
/.m2
/.mozilla
/.mpv/watch_later
/.octave_hist
/.ssh
/.thumbnails
/.unison
/.viminfo
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/**/*.hi
/.xmonad/**/*.o
/.xsession-errors
/.xsession-errors.old
/downloads
/cloud
/octave-workspace
/vcs
/PDF
/davmail.log*
/.simutrans
/workspace
/.zcompdump
/.swt
/.purple
/.muttator
/.mplayer
/.java
/.gnome2
*.swp
*~
/.gconf
/.eclipse
/.config/libreoffice
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.weechat/sec.conf
/.weechat/logs
/.config/llpp-recent.conf
/.config/llpp.conf
/.config/ranger/bookmarks
/.config/ranger/commands.pyo
/.config/ranger/history
/.config/ranger/tagged
*.pyc
/.vim/bundle
/.vim/.netrwhist
/.config/yad.conf
/.config/7kaa
/.config/Qtrac\ Ltd./DiffPDF.conf
/.config/Trolltech.conf
/.config/gtk-2.0/gtkfilechooser.ini
/.config/supertuxkart
/.nmcli-history
/.emacs.d
/.local/share/lftp
/node_modules
/.qalculate/definitions
/.qalculate/qalc.history
/.qalculate/eurofxref-daily.xml
/.pki
/.npm
/.p2
/.netrc
/.config/pulse/cookie
/.config/htop/htoprc
/.config/chromium
/.local/share/nvim
/.local/lib
/.local/include
/.config/transmission-remote-gtk
/.config/calibre
/.gimp-2.8
/.local/share/gegl-0.2
/.config/gtk-3.0/bookmarks
/.sane/xsane
/.vim/javacomplete.txt
/.vim/autoload/plug.vim
/.vim/autoload/plug.vim.old
/.config/QtProject.conf
/Gemfile.lock
/.local/bin
tags
/.local/share/zathura
/.urxvt
*.log
/rfs
/.kodi
/.vim/javacomplete_java.log.*
/.nvimlog
/.local/share/qutebrowser/sessions
/.local/share/qutebrowser/cmd-history
/.local/share/qutebrowser/cookies
/.local/share/qutebrowser/state
/.local/share/qutebrowser/history
/.local/share/qutebrowser/blocked-hosts
/.local/share/qutebrowser/domains.yml
/.config/qutebrowser/bookmarks
/.config/qutebrowser/quickmarks
/.caff/keys
/.caff/gnupghome/random_seed
/.caff/gnupghome/*.gpg
/.mail
/.abook/addressbook
/.sylfilter
/.config/qpdfview
/.local/share/qpdfview
/.weechat/script/plugins.xml.gz
/.config/gaupol/gaupol.conf
/.local/share/doc
/.local/share/man
/.local/etc
/.wget-hsts
/.gnupg/crls.d/DIR.txt
/.gnupg/.gpg-v21-migrated
/.gradle/caches
/.gradle/daemon
/.pip/zsh-cache
/.mutt/postponed
/.*_history
/.aspell.nl.prepl
/.aspell.nl.pws
/.vim/spell
/.newsbeuter/cache.db
/.newsbeuter/history.cmdline
/.newsbeuter/history.search
/.newsbeuter/urls
/.newsbeuter/cache.db.lock
/.config/qutebrowser/qsettings/QtProject.conf
/.weechat/slack.cache
/.unipeptrc
/.tox/distshare
/.zplug
/.vimperator
/.config/dvbcut.sf.net/dvbcut.conf
/.config/pulse/*-runtime
/.config/pulse/*.tdb
/.config/pulse/*-default-*
/.rnd
/.config/inkscape
/documents
/.eteks/sweethome3d
/.bundle/cache
/.newsbeuter/filter
/.local/share/qutebrowser/offline-storage
/.upnprc
/.xmonad/history
/.gnupg/reader_0.status
/.local/share/qutebrowser/netrc
/.pip/requirements.txt
/.pylint.d
/.w3m/history
/.dvdcss/CACHEDIR.TAG
/repo
/.texlive2016
/.local/share/xorg/*.log.old
/.sudo_as_admin_successful
/.gnupg/pubring.kbx
/.ccache
/.local/share/qutebrowser/webengine
/.config/user-dirs.dirs
/.config/configstore
/.config/gedit
/.config/qutebrowser/qsettings
/.v8flags.*.json
/.node-gyp
/.ipython/profile_default/history.sqlite
/.ipython/README
/.ipython/profile_default/startup/README
/.lesshsQ
/.mycli-history
/.cscope.vim
/.config/pgcli/history
/.config/pgcli/log
/.config/mps-youtube/cache_py_*
/.config/mps-youtube/input_history
/.config/mps-youtube/playlist_v2
/.config/mps-youtube/play_history
/.local/share/qutebrowser/local-storage
