.ICEauthority
.Rhistory
.Xauthority
.bash_history
.cabal
.cache
.config/Thunar/renamerrc
.config/dconf
.config/enchant
.config/unisister
.config/xfce4/panel
.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
.config/xfce4/xfconf/xfce-perchannel-xml/pointers.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-mixer.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
.dbus
.gem
.ghc
.gksu.lock
.gnome2/keyrings
.gnupg
.gpg-agent-info
.gstreamer-0.10
.icedove
.jdb_history
.lesshst
.local/share/Trash
.local/share/mc
.local/share/recently-used.xbel*
.m2
.mozilla
.mpv/watch_later
.octave_hist
.python_history
.ssh
.thumbnails
.unison
.viminfo
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsession-errors
.xsession-errors.old
Downloads
autotag.log
bin
cloud
octave-workspace
unison.log
vcs
PDF
davmail.log*
simutrans
workspace
.zcompdump
.xsel.log
.swt
.purple
.muttator
.mplayer
.java
.gnome2
*.swp
.gconf
.eclipse
.config/libreoffice
.zsh_history
.xmonad
.weechat
.mysql_history
.gmrun_history
.config/llpp-recent.conf
.config/llpp.conf
.config/ranger/bookmarks
.config/ranger/commands.pyo
.config/ranger/history
.config/ranger/tagged
*.pyc
.vim/bundle
.vim/.netrwhist
.config/yad.conf
.config/7kaa
.config/Qtrac\ Ltd./DiffPDF.conf
.config/Trolltech.conf
.config/gtk-2.0/gtkfilechooser.ini
.config/supertuxkart
.nmcli-history
.emacs.d
.local/share/lftp
.gnuplot_history
node_modules
.qalculate/definitions
.qalculate/qalc.history
.qalculate/eurofxref-daily.xml
.pki
.npm
.p2
.netrc
.config/pulse/cookie
.config/htop/htoprc
.config/chromium
.oh-my-zsh
.zsh-update
.zsh/antigen-files
.local/share/nvim
.pip/pip.log
.local/lib
.local/include
.config/transmission-remote-gtk
.config/calibre
.gimp-2.8
.local/share/gegl-0.2
.config/gtk-3.0/bookmarks
.sane/xsane
