[user]
	name = Kevin Velghe
[push]
	default = simple
[instaweb]
	httpd = webrick
	browser = xdg-open
[gcrypt]
	participants = 64AD7E10
	signingkey = 64AD7E10
[alias]
	graph = log --graph --decorate --oneline --all
[commit]
	gpgsign = true
[diff]
	algorithm = histogram
	colorMoved = true
[merge]
	conflictStyle = diff3
	log = true
