/.ICEauthority
/.Rhistory
/.Xauthority
/.cabal
/.cache
/.config/Thunar/renamerrc
/.config/dconf
/.config/enchant
/.config/unisister
/.config/xfce4/panel
/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/pointers.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-mixer.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
/.dbus
/.gem
/.ghc
/.gksu.lock
/.gnome2/keyrings
/.local/share/keyrings
/.gnupg/private-keys-v1.d
/.gnupg/pubring.gpg
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/sshcontrol
/.gnupg/trustdb.gpg
/.gpg-agent-info
/.gstreamer-0.10
/.icedove
/.lesshst
/.local/share/Trash
/.local/share/mc
/.local/share/recently-used.xbel*
/.m2
/.mozilla
/.mpv/watch_later
/.octave_hist
/.ssh
/.thumbnails
/.unison
/.viminfo
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/**/*.hi
/.xmonad/**/*.o
/.xsession-errors
/.xsession-errors.old
/downloads
/cloud
/octave-workspace
/vcs
/PDF
/davmail.log*
/.simutrans
/simutrans
/workspace
/.zcompdump
/.swt
/.purple
/.muttator
/.mplayer
/.java
/.gnome2
*.swp
*~
/.gconf
/.eclipse
/.config/libreoffice
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.weechat/sec.conf
/.weechat/logs
/.config/llpp-recent.conf
/.config/llpp.conf
/.config/ranger/bookmarks
/.config/ranger/commands.pyo
/.config/ranger/history
/.config/ranger/tagged
*.pyc
/.vim/bundle
/.vim/.netrwhist
/.config/yad.conf
/.config/7kaa
/.config/Qtrac\ Ltd./DiffPDF.conf
/.config/Trolltech.conf
/.config/gtk-2.0/gtkfilechooser.ini
/.config/supertuxkart
/.nmcli-history
/.emacs.d
/.local/share/lftp
/node_modules
/.config/qalculate/definitions
/.config/qalculate/qalc.history
/.config/qalculate/eurofxref-daily.xml
/.pki
/.npm
/.p2
/.netrc
/.config/pulse/cookie
/.config/htop/htoprc
/.config/chromium
/.local/share/nvim
/.local/lib
/.local/include
/.config/transmission-remote-gtk
/.config/calibre
/.gimp-2.8
/.config/GIMP
/.local/share/gegl-0.2
/.config/gtk-3.0/bookmarks
/.sane/xsane
/.vim/javacomplete.txt
/.vim/autoload/plug.vim
/.vim/autoload/plug.vim.old
/.config/QtProject.conf
/Gemfile.lock
/.local/bin
tags
/.local/share/zathura
/.urxvt
*.log
/rfs
/.kodi
/.vim/javacomplete_java.log.*
/.nvimlog
/.local/share/qutebrowser/sessions
/.local/share/qutebrowser/cmd-history
/.local/share/qutebrowser/cookies
/.local/share/qutebrowser/state
/.local/share/qutebrowser/history.sqlite*
/.local/share/qutebrowser/blocked-hosts
/.config/qutebrowser/autoconfig.yml
/.config/qutebrowser/bookmarks
/.config/qutebrowser/quickmarks
/.caff/keys
/.caff/gnupghome/random_seed
/.caff/gnupghome/*.gpg
/.mail
!/.mail/.notmuch/hooks/post-new
/.abook/addressbook
/.sylfilter
/.config/qpdfview
/.local/share/qpdfview
/.weechat/script/plugins.xml.gz
/.config/gaupol/gaupol.conf
/.local/share/doc
/.local/share/man
/.local/etc
/.wget-hsts
/.gnupg/crls.d/DIR.txt
/.gnupg/.gpg-v21-migrated
/.gradle/caches
/.gradle/daemon
/.pip/zsh-cache
/.mutt/postponed
/.*_history
/.aspell.*.prepl
/.aspell.*.pws
/.vim/spell
/.newsboat/cache.db
/.newsboat/history.cmdline
/.newsboat/history.search
/.newsboat/urls
/.newsboat/cache.db.lock
/.config/qutebrowser/qsettings/QtProject.conf
/.weechat/slack.cache
/.unipeptrc
/.tox/distshare
/.zplug
/.vimperator
/.config/dvbcut.sf.net/dvbcut.conf
/.config/pulse/*-runtime
/.config/pulse/*.tdb
/.config/pulse/*-default-*
/.rnd
/.config/inkscape
/documents
/.eteks/sweethome3d
/.bundle/cache
/.newsboat/filter
/.local/share/qutebrowser/offline-storage
/.upnprc
/.xmonad/history
/.gnupg/reader_0.status
/.local/share/qutebrowser/netrc
/.pip/requirements*.txt
/.pylint.d
/.w3m/history
/.dvdcss/CACHEDIR.TAG
/repo
/.texlive20*
/.local/share/xorg/*.log.old
/.sudo_as_admin_successful
/.gnupg/pubring.kbx
/.ccache
/.local/share/qutebrowser/webengine
/.config/user-dirs.dirs
/.config/configstore
/.config/gedit
/.config/qutebrowser/qsettings
/.v8flags.*.json
/.node-gyp
/.ipython/profile_default/history.sqlite
/.ipython/README
/.ipython/profile_default/startup/README
/.lesshsQ
/.mycli-history
/.cscope.vim
/.config/pgcli/history
/.config/pgcli/log
/.config/mps-youtube/cache_py_*
/.config/mps-youtube/input_history
/.config/mps-youtube/playlist_v2
/.config/mps-youtube/play_history
/.config/mps-youtube/play_history.m3u
/.local/share/applications/mps-youtube.desktop
/.local/share/qutebrowser/local-storage
/.subversion/auth
/.subversion/README.txt
/.pgadmin3
/.pgpass
/.go
/.mmauthcookies
/.mmauthtoken
/.config/cef_user_data/Dictionaries
/.docker/config.json
/.local/share/qalculate
/.composer
/.config/moserial.conf
/.yarnrc
/.mypy_cache
/.pip/src
/.config/alot/config
/.newsboat/queue
/.gnupg/tofu.db
/.password-store
/.caff/gnupghome/S.*
/.caff/gnupghome/.gpg-v21-migrated
/.caff/gnupghome/tofu.db
/.config/gaupol/search
/.local/share/fonts/.uuid
/.cargo
/.readarticlerc
/.local/share/qutebrowser/qtwebengine_dictionaries
/.config/afew/config
/.ansible
/.config/yarn/link
/.config/pavucontrol-qt/pavucontrol-qt.conf
/.local/share/ranger
/.config/straw-viewer/cli-history.txt
/.config/straw-viewer/instances.json
/.conda
/.keras
/.local/share/jupyter
/.config/sqlitebrowser
/.docker/.buildNodeID
/.zoom
/.config/zoomus.conf
/.config/Unknown Organization/zoom.conf
/.config/teams-for-linux
!/.config/teams-for-linux/config.json
/.jupyter
/.local/man
/.android
/.local/share/stig/histories
/.redeclipse
/.config/LosslessCut
/.gcalcli_*
/.config/Microsoft
/.config/teams
/.config/autostart/teams.desktop
/.ICAClient
/.config/arnet/LinakDeskApp.ini
/.config/scdl/scdl.cfg
/.local/libexec
/.local/share/dbus-1
/.local/share/locale
/.local/share/pkgconfig
/.local/share/xdg-desktop-portal
/.config/pipewire-media-session/restore-stream
/.config/pipewire-media-session/default-profile
/.config/pipewire-media-session/default-routes
/.config/gcloud
/.config/helm/repositories.*
/.kube
/.local/share/helm/plugins
/.local/share/sway/sway.log*
/.local/share/virtualenv
/.config/syncthing
/.google_libcloud_auth.*
/.config/guvcview2
/.minikube
/.gsutil
/.config/pipe-viewer/cli-history.txt
/.config/pipe-viewer/instances.json
/.config/pipe-viewer/watched.txt
/.config/pipe-viewer/playlists
/.local/share/zsh
/.local/share/fish
/.local/share/bash-completion
/.local/share/yuzu
/.local/share/flycast
/.local/share/calibre-parallel
/.config/whoozle.github.io/aft-linux-cli.history
/.config/whoozle.github.io/aft-linux-qt.conf
/.config/yuzu
/.config/ppsspp
/.config/PCSX2
/.config/flycast
/.local/state/wireplumber
/.config/freerdp/known_hosts2
/.config/gsmartcontrol/gsmartcontrol.conf
/.erlang.cookie
/.local/share/python_keyring
/.local/share/openconnect-sso/QtWebEngine
/.local/share/qutebrowser/adblock-cache.dat
/.local/share/oauth2ms
/.ms2pip
/.pcsxr
/.local/share/xemu
/.local/share/qutebrowser/qutebrowser
/.local/share/ppsspp
/.local/share/pixmaps
/.local/share/icons
/.local/share/applications/PPSSPPSDL.desktop
/.arduino15
