set editing-mode vi
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on
set bind-tty-special-chars off

set keymap vi-insert
Control-a: beginning-of-line
Control-d: delete-char
Control-e: end-of-line
Control-n: next-history
Control-p: previous-history
Control-w: backward-kill-word
TAB: menu-complete
"\e[Z": menu-complete-backward

set keymap emacs-ctlx
v: vi-editing-mode
