[Desktop Entry]
Name=Alot
Comment=Compose a mail using alot
Exec=x-terminal-emulator -e alot compose --spawn False %u
# Terminal=true
Type=Application
Categories=Office;Network;Email
MimeType=x-scheme-handler/mailto;
